streamlit
requests
pandas
pyyaml
tornado
psutil
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-http
opentelemetry-instrumentation-tornado
opentelemetry-instrumentation-requests
opentelemetry-instrumentation-logging
opentelemetry-instrumentation-threading
opentelemetry-instrumentation-urllib3
opentelemetry-instrumentation-system-metrics
